FIREBASE_STORAGE_BUCKET=xxxxx.appspot.com

FIREBASE_TYPE=xxxxxx
FIREBASE_PROJECT_ID=xxxxxx
FIREBASE_PRIVATE_KEY_ID=xxxxxx
FIREBASE_PRIVATE_KEY=xxxxxx
FIREBASE_CLIENT_EMAIL=xxxxxx
FIREBASE_CLIENT_ID=xxxxxx
FIREBASE_AUTH_URI=xxxxxx
FIREBASE_TOKEN_URI=xxxxxx
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=xxxxxx
FIREBASE_CLIENT_X509_CERT_URL=xxxxxx