@import "../../styles/common/variables";

.Viewer {
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        height: auto;
    }

    a {
        padding: 1em;
        margin: 1em;
        text-align: center;
        color: #ffffff;
        text-decoration: none;
        background-color: $purple;
    }
}